doctype html
html
    head
        meta(charset="utf-8")
        title Pharm Community
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel='stylesheet', href='assets/css/style.min.css')

    body
        include common/header.pug
        main
            include common/advantages.pug
            include common/about.pug
        include common/footer.pug
        include common/modal.pug
        script(src='assets/js/jquery.min.js')
        script(src='assets/js/bootstrap.js')
        script(src='assets/js/bundle.js')
