section.about
    .container
        h2.section__title Що особливого?
        hr
        p.section__preview Компанія Pharm Community (PharmCom), на базі технології «Digital Learning», пропонує новий формат навчання працівників аптечної сфери, що відрізняється від інших
        .row
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#hourglass')
                    h5 Зберегти час
                    p Життя коротке і ми це знаємо
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#open-book')
                    h5 Нові методи та принципи навчання
                    p Навчання ще ніколи не було таким цікавим та захопливим
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#coding')
                    h5 Зручний та простий інтерфейс
                    p Ви знайдете все що потрібно і нічого зайвого
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#list')
                    h5 Практичні завдання і не тільки
                    p Після кожного навчального курсу вас чекають практичні завдання і .....:)
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#").link
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#smartphones')
                    h5 Адаптивність
                    p Вчіться завжди, навіть коли ви не в дома
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#recommended')
                    h5 Якісні матеріали
                    p Ми гарантуємо актуальність і якість інформації
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#trendy')
                    h5 Завжди в тренді
                    p Наш сайт завжди буде відповідати сучасним стандартам
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    svg.about-icon
                        use(xlink:href='assets/img/sprite.svg#customer-service')
                    h5 Підтримка 24/7
                    p Ми завжди вам допоможемо. Задавайте свої питання.
    div.banner
        | Залиш конкурентів по заду!!!
        a(href="#")#js-button-registration2.btn.btn-light.wow.fadeInRightBig(data-wow-delay="0.2s") Чому за цим майбутнє?


