section.advantages
    .container
        ul.list-unstyled.section-items
            li.section-items__item
                .section-items__text
                    h2.section-items__title Компанія виробник/Маркетингова компанія
                    p.section-items__paragraph Натиснувши кнопку «Обов’язкові курси + Тести» Ви одразу переходите на сторінку із логотипами виробників, кольорові – ті, по яких уже доступні навчальні матеріали, чорно-білі – поки що не активні.
                .section-items__img
                    img(src="assets/img/company.svg")
            li.section-items__item
                .section-items__text
                    h2.section-items__title Аптечна мережа
                    p.section-items__paragraph Натиснувши кнопку «Обов’язкові курси + Тести» Ви одразу переходите на сторінку із логотипами виробників, кольорові – ті, по яких уже доступні навчальні матеріали, чорно-білі – поки що не активні.
                .section-items__img
                    img(src="assets/img/pharmacy.svg")
            li.section-items__item
                .section-items__text
                    h2.section-items__title Персоналізацією користувачів під кожного окремого клієнта
                    p.section-items__paragraph Натиснувши кнопку «Обов’язкові курси + Тести» Ви одразу переходите на сторінку із логотипами виробників, кольорові – ті, по яких уже доступні навчальні матеріали, чорно-білі – поки що не активні.
                .section-items__img
                    img(src="assets/img/doctor.svg")
    div.banner
        | Xочу спробувати!!!
        a(href="#").btn.btn-light Увійти

