section.advantages
    .container
        .row
            .col-md-4.text-center
                .p-3.advantages-header__item
                    img(src="assets/img/provizor.jpg" width="200")
                    h3.h2.m-0.mt-2.mb-4 Фармацевту
                    button.btn.btn-success Перейти
                    p.mt-4 Представники різні, інформація та ж сама, корисної нуль! Здобудь справді актуальні знання у зручний для себе час! Давай із нами!
            .col-md-4.text-center
                .p-3.advantages-header__item
                    img(src="assets/img/sprite.svg#pharmacy" width="200")
                    h3.h2.m-0.mt-2.mb-4 Аптечній мережі
                    button.btn.btn-success Перейти
                    p.mt-4 Спочатку приходять не клієнти, першими приходять співробітники! Ви і далі готові витрачати найпродуктивніші години роботи найкращих співробітників на балачки, які не приносять знань? Чи приєднаєтесь до нас?
            .col-md-4.text-center
                .p-3.advantages-header__item
                    img(src="assets/img/production.png" width="200")
                    h3.h2.m-0.mt-2.mb-4 Компанії виробнику
                    button.btn.btn-success Перейти
                    p.mt-4 Світ не стоїть на місці, Digital-технології пронизують усі сфери життя. Ви справді хочете залишитись на самоті із застарілими методами промоції? Ми пропонуємо революційний підхід! Ви з нами?
    .container.advantages__pharmacist
        .row
            .col-12.text-center
                h3.h1 Фармацевту
            .col-md-4.ml-auto.text-center.advantages__pharmacist--self-learning
                h4.h3 Самоосвіта
                p.h5.lead Ми спробували безліч варіантів самоосвіти на власному досвіді! Вам вже не доведеться наступати на граблі!
            .col-md-4.mr-auto.text-center.advantages__pharmacist--online
                h4.h3 Вчись Online
                p.h5.lead Онлайн освіта – технологія найближчого майбутнього! І це майбутнє у же завтра! Саме час змінити монополію сірих стін універів на сучасну і зручну для саморозвитку атмосферу коворкінгу чи дому.
        .row
        .row
    .container
        ul.list-unstyled.section-items
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Компанії виробнику/Маркетинговій компанії
                    p.section-items__paragraph Світ не стоїть на місці, Digital-технології пронизують усі сфери життя. Ви справді хочете залишитись на самоті із застарілими методами промоції? Ми пропонуємо революційний підхід! Ви з нами?
                .section-items__img.wow.bounceInLeft(data-wow-delay="1s")
                    img(src="assets/img/production.png")
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Аптечній мережі
                    p.section-items__paragraph  Спочатку приходять не клієнти, першими приходять співробітники! Ви і далі готові витрачати найпродуктивніші години роботи найкращих співробітників на балачки, які не приносять знань? Чи приєднаєтесь до нас?
                .section-items__img.wow.bounceInLeft(data-wow-delay="1s")
                    img(src="assets/img/sprite.svg#pharmacy")
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Фармацевту/Провізору
                    p.section-items__paragraph Представники різні, інформація та ж сама, корисної нуль! Здобудь справді актуальні знання у зручний для себе час! Давай із нами!
                .section-items__img.wow.bounceInLeft(data-wow-delay="0.2s")
                    img(src="assets/img/provizor.jpg")
    div.banner
        | Xочу спробувати!!!
        a(href="#")#js-button-registration1.btn.btn-light.wow.fadeInRightBig(data-wow-delay="0.2s")  Зареєструватися
