section.cards
    .container
        h2 Cписок
        .row
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-6.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-7.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#").link
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-12.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-12.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-12.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Neurology
                    p Treatment perfectly match your goals.
            .col-md-2
                a(href="#")
                    img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-5.png")
                    h5 Traumotology
                    p Treatment perfectly match your goals.