section.contacts
    .container
        .row
            .col-md-4
                h4 Розклад
                table.table.table-striped
                    thead
                        tr
                            th(scope='col') First
                            th(scope='col') Last
                            th(scope='col') Handle
                    tbody
                        tr
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            td Jacob
                            td Thornton
                            td @fat
            .col-md-4
                h4 Де нас знатий
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque conseq
                a.btn.user-btn Кнопка
            .col-md-4
                h4 Наш телефон
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque conseq
                a.btn.user-btn +3806847777
