section.feedback
    .container-fluid
        .row
            .col-md-4.offset-md-2.feedback-form
                h2 Пишіть нам
                form
                    .form-group
                        input.form-control(type='email', aria-describedby='emailHelp', name="mail" placeholder='Почта')
                    .form-group
                        input.form-control(type='text', name="name", placeholder='Имя')
                    .form-group
                        input.form-control(type='text', name="name", placeholder='Телефон')
                    .form-group
                        textarea.form-control(rows='3', name="message", placeholder='Ваше повідомлення')
                    button.btn.btn-primary(type='submit') Отправить
