header
    .container
        nav.navbar.navbar-expand-lg.p-0
            a.navbar-brand(href='#')
                img(src='assets/img/logo.png')
                div.name-company <span>Pharm</span><hr><span>Comunnity</span>
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') Features
                    li.nav-item
                        a.nav-link(href='#') Pricing
                    li.nav-item
                        a.nav-link(href='#') Pricing
                    li.nav-item
                        a.nav-link(href='#') Pricing
                a.nav-link.user-btn(href="#") Lorem aa Lorem Lorem

.slider
    #header-carousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#header-carousels', data-slide-to='0')
            li(data-target='#header-carousel', data-slide-to='1')
            li(data-target='#header-carousels', data-slide-to='2')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/main-slider-img-3.jpg', alt='First slide')
                .carousel-caption.d-none.d-md-block
                    h5 Медици́на
                    p — галузь наукової та практичної діяльності, що вивчає нормальні та патологічні процеси в організмі людини, різноманітні захворювання, патологічні стани, методи їх лікування, запобігання та зміцнення здоров'я людини.
            .carousel-item
                img.d-block.w-100(src='https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/main-slider-img-2.jpg', alt='Second slide')
                .carousel-caption.d-none.d-md-block
                    h5 Медици́на
                    p — галузь наукової та практичної діяльності, що вивчає нормальні та патологічні процеси в організмі людини, різноманітні захворювання, патологічні стани, методи їх лікування, запобігання та зміцнення здоров'я людини.
            .carousel-item
                img.d-block.w-100(src='https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/main-slider-img-1.jpg', alt='Third slide')
                .carousel-caption.d-none.d-md-block
                    h5 Медици́на
                    p — галузь наукової та практичної діяльності, що вивчає нормальні та патологічні процеси в організмі людини, різноманітні захворювання, патологічні стани, методи їх лікування, запобігання та зміцнення здоров'я людини.
        a.carousel-control-prev(href='#header-carousel', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#header-carousel', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next


