header
    .container
        nav.navbar.navbar-expand-lg.p-0
            a.navbar-brand(href='#')
                img(src='assets/img/logo.png', width="200px").img-fluid.d-block.d-sm-none
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link.nav-link--course(href='#') Курси
                    li.nav-item
                        a.nav-link.nav-link--materials(href='#') Матеріали
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link.nav-link--registration(href='#') Реєстрація
                    li.nav-item
                        a.nav-link.nav-link--login(href='#') Увійти
        div.header__content.row
            .col-md-6.header__logo
                div
                    img(src='assets/img/logo.png', width="200px", height="200px", alt="Logo Pharm Comunnity")
                    div.header__brand-name
                        | <span>Pharm</span><hr><span>Community</span><br>
                        small інтерактивні онлайн курси
            .col-md-6
               .header__message Найкращі ліки не допоможуть хворому, якщо не знати, як їх використовувати  тому  вітаємо вас на нашому сайті. Дізнаєтесь про все.
               a(href="#").btn.btn-success Почати вчитися