#modal-user-type.modal-user-types.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal-login", aria-hidden="true")
    .modal-dialog.modal-lg.modal-xl(role="document")
        .modal-content
            .modal-header
                h5.modal-title Виберіть тип користувача
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") ×
            .modal-body
                .container-fluid
                    .row
                        .col-md-4
                            a(href="#").modal-user-type
                                img.img-fluid(src="https://img-aws.ehowcdn.com/600x600p/photos.demandstudios.com/getty/article/78/83/78056205.jpg")
                                h4.modal-user-type-title Фармацевт
                                p.text-muted Працюєте в аптеці тоді вам сюди
                        .col-md-4
                            a(href="#").modal-user-type
                                img.img-fluid(src="https://sunsetrx.ca/templates/g5_helium/images/header/img_01.jpg")
                                h4.modal-user-type-title Власники аптечної мережі
                                p.text-muted Маєте мережу аптек. Нажимайте сюди
                        .col-md-4
                            a(href="#").modal-user-type
                                img.img-fluid(src="assets/img/filmmaker.jpg")
                                h4.modal-user-type-title Компанія виробник/Маркетинговa компанія
                                p.text-muted Ті що виробляють ліки. Та велекі представники у сфері медецини
            .modal-footer
                button.btn.btn-secondary.modal-close(type="button", data-dismiss="modal") Закрити


