.vertical-nav-holder
    a.vertical-nav-btn(href='#')
        i.fa.fa-share-alt
    .vertical-nav
        ul
            li
                a(href='mailto:email@domain.com')
                    i.fa.fa-envelope
            li
                a(href='skype:USERNAME?chat')
                    i.fa.fa-skype
            li
                a(href='https://www.google.com/maps/place/London+Eye/@51.5027535,-0.1186538,16z/data=!4m6!1m3!3m2!1s0x487604b900d26973:0x4291f3172409ea92!2sLondon+Eye!3m1!1s0x487604b900d26973:0x4291f3172409ea92?hl=en', target='_blank')
                    i.fa.fa-map-marker
            li
                a(href='https://www.facebook.com/StivaSoft', target='_blank')
                    i.fa.fa-facebook
            li
                a(href='https://plus.google.com/u/0/+Stivasoft/posts', target='_blank')
                    i.fa.fa-google-plus
    // /.vertical-nav
// /.vertical-nav-holder
.vertical-nav-overlay
// /.vertical-nav-overlay
