// Хто знами вже співпрацює
section.user-group
    .container
        h2 Категорії
        .card-deck
            .card
                img.card-img-top(src="http://via.placeholder.com/555x380", alt="Card image cap")
                .card-body
                    h5.card-title Власники аптечної мережі
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    a.btn Дізнатись більше
            .card.main-card
                img.card-img-top(src="http://via.placeholder.com/555x380", alt="Card image cap")
                .card-body
                    h5.card-title Виробники
                    p.card-text This card has supporting text below as a natural lead-in to additional content.
                .card-footer
                    a.btn Перейти
            .card
                img.card-img-top(src="https://life.pravda.com.ua/images/doc/f/9/f97c7e7-preparat-apteky-dostupni-li.jpg", alt="Card image cap")
                .card-body
                    h5.card-title Фармацевт
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                .card-footer
                    a.btn Перейти
                
