body {
  color: #333;
}

header {
  width: 100%;
  background: transparent url("../img/1.jpg") center center no-repeat;
  position: relative;
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
  }

  .nav-item {
    margin-right: 15px;
  }

  .nav-link {
    margin-top: 20px;
    padding-left: 30px !important;
    font-size: 1.1rem;
    color:#fff;
    position: relative;

    &:before {
      content: "";
      bottom: 12px;
      left: 5px;
      position: absolute;
      width: 20px;
      height: 20px;
      background: transparent center center no-repeat;
      background-size: cover;
    }
  }

  .nav-link--materials:before {
    background-image: url(../img/books-stack.svg);
  }

  .nav-link--course:before {
    background-image: url(../img/online-course.svg);
  }

  .nav-link--registration:before {
    background-image: url(../img/add-user-symbol.svg);
  }

  .nav-link--login:before {
    background-image: url(../img/web-log-in.svg);
  }

  .header__content {
    padding-top: 110px;
    padding-bottom: 125px;

    .btn.btn-success {
      font-size: 1.5rem;
      margin-top: 30px;
      padding: 0.475rem 2.15rem;
    }
  }

  .header__logo > div {
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__brand-name {
    font-size: 2rem;
    line-height: 1;
    padding-top: 20px;
    text-transform: uppercase;
    color: #319d57;
    font-weight: bold;
    hr {
      margin-top: 0;
      margin-bottom: 0;
      border-color: #319d57;
      border-width: 2px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        width: 111px;
        background-color: #3f5972;
      }
    }
    span:first-child {
      color: #3f5972;
    }

    small {
      color: #fff;
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  .header__message {
    max-width: 400px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }
}