.companies {
  margin-top: 50px;
  padding: 87px 0px 83px 0px;
  background-color: #fff;

  h2 {
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 350px;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #56b0d2;
    }
  }
}