.feedback {
  background-color: #56b0d2;
  color: #fff;

  input {
    border-color: rgba(255,255,255,0.3);
    padding: 0 0 5px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  .input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  .input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  .input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  .input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  .input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  .input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  .input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}