.header {
  width: 100%;
  padding-bottom: 30px;
  background: transparent url(../img/header.jpg) top left no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__brand {
  display: flex;
  justify-content: flex-start;

  &:hover {
    text-decoration: none;
  }
}
.header__brand img {
  width: 100px;
  height: 100px;

  &:hover {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

  }
}

.header__brand-name {
  line-height: 1;
  padding-top: 10px;
  font-size: 2.15rem;
  color: #319d57;
  font-weight: bold;
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #319d57;
    border-width: 2px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      height: 2px;
      width: 111px;
      background-color: #3f5972;
    }
  }
  span:first-child {
    color: #3f5972;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages {
  margin-top: 50px;

  li {
    padding-left: 10px;
    border-left: 3px solid #3f5972;
    color: #0f1d2b;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      opacity: 0;
      background-color: #319d57;
      border-color: #319d57;
    }
  }


  li:nth-child(even) {
    padding-left: 0;
    padding-right: 10px;
    border-right: 3px solid #319d57;
    border-left-width: 0;

    & > div {
      margin-left: auto;
    }

    .btn {
        background-color: #3f5972;
        border-color: #3f5972;
      }
  }

  p {
    margin-bottom: 0;
  }

  .text-muted.small {
    text-transform: none;
    font-size: 1rem;
  }
}