.services {
  margin-top: 90px;
  h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 110px;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #56b0d2;
    }
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.3rem;
  }

  p {
    font-weight: 300;
    font-style: italic;
  }
}