.adaptive
    .container
        .adaptive__content
            h2 Зручнічність на всіх девайсах
            p Нашими сервісом буде зручно користуватись на всіх девайсах що не обмежує користувачів сидіти лише за компютером.