section.companies
    .container
        h2 З нами вже співпрацюють
        .row
            .col-md-3
                a(href="")
                    img.img-fluid(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/client-1.jpg", alt="")
            .col-md-3
                a(href="")
                    img.img-fluid(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/client-2.jpg", alt="")
            .col-md-3
                a(href="")
                    img.img-fluid(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/client-1.jpg", alt="")
            .col-md-3
                a(href="")
                    img.img-fluid(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/client-3.jpg", alt="")