header.header
    div.container
        .header__nav
            a.header__brand(href='#')
                img.header__logo.img-fluid(src='assets/img/logo.png')
                div.header__brand-name <span>Pharm</span><hr><span>Comunnity</span>
            div.nav-overlay__open &#9776;
            nav.nav-overlay
                div.nav-overlay__close ×
                .nav-overlay__content
                    a(href='#').nav-overlay__link About
                    a(href='#').nav-overlay__link Services
                    a(href='#').nav-overlay__link Clients
                    a(href='#').nav-overlay__link Contact
        //.header__content
        //    h1.header__title Компанія Pharm Community (PharmCom), це новий український інноваційний проект, який немає аналогів в сфері медицини
        //    p.header__intro PharmCommunity – ресурс, сучасних та інноваційних каналів комунікації між усіма учасниками, починаючи від розробника і завершуючи споживачем.
        //.jumbotron
        ul.list-unstyled.advantages
            li
                div
                    p новий український інноваційний проект
                    .text-muted.small - Заснований у 2018 році
                a(href="#").btn.btn-success Дізнатись більше
            li
                a(href="#").btn.btn-info Дізнатись більше
                div
                    p немає аналогів в сфері медицини
                    .text-muted.small - Заснований у 2018 році
            li
                div
                    p інноваційних каналів комунікації між усіма учасниками
                    .text-muted.small - Заснований у 2018 році
                a(href="#").btn.btn-success Дізнатись більше

            li
                a(href="#").btn.btn-info Дізнатись більше
                div
                    p від розробника до споживача
                    .text-muted.small - Заснований у 2018 році

    .scroll-downs
        .mousey
            .scroller
