section.services
    .container
        h2 Services
        .row
            .col-md-3
                img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-1.png")
                h3 Experienced Physicians
                p Your health is your most important asset. You should entrust it only to the best professionals.
            .col-md-3
                img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-2.png")
                h3 Experienced Physicians
                p Your health is your most important asset. You should entrust it only to the best professionals.
            .col-md-3
                img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-3.png")
                h3 Experienced Physicians
                p Your health is your most important asset. You should entrust it only to the best professionals.
            .col-md-3
                img(src="https://ld-wp.template-help.com/wordpress_bemedical/v3/beclinic/wp-content/uploads/2017/10/icon-img-4.png")
                h3 Immediate Service
                p Your health is your most important asset. You should entrust it only to the best professionals.