section.welcom
    .container
        .row
            .col-md-6
                h2 Про компанію
                p.welcom-intro  Компанія Pharm Community (PharmCom), це універсальний  web сервіс для взаємодії ключових гравців фармацевтичного ринку:
                p
                    | Для кого призначений web сервіс ?
                a(href="#").btn.btn-user Дізнатись
                p and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
                a(href="#").btn.btn-user get in touch